* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-right: 10px;
}

.App,
h2 {
  font-family: sans-serif;
  text-align: left;
}

h1,
.Pagination {
  text-align: center;
}

.Catalog {
  width: 78%;
  margin-left: 5%;
}

.List {
  width: 150px;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
}

.List li {
  width: 100%;
  display: block;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #454d55;
  background-color: #343a40;
}

.List__item:hover {
  text-decoration: none;
  color: #fff;
}

.Gallery {
  width: 100%;
}

.Gallery__box {
  width: 33%;
}

img {
  width: 100%;
}
